<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Write reviews about books you've read.">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/main.css">
    <title>BookReview</title>
</head>

<body>
    <header>
        <h1 class="bold-text" aria-label="BookReview: Write reviews about books you've read.">BookReview</h1>
    </header>