<%- include("partials/header.ejs") %>

<main>
    <h2 class="bold-text">Edit Review</h2>
    <section id="newReview">
        <form action="/add" method="post">
            <div class="form-group">
                <label for="title" class="bold-text">Title:</label>
                <input type="text" id="title" name="title" required>    
            </div>
            <div class="form-group">
                <label for="author" class="bold-text">Author:</label>
                <input type="text" id="author" name="author" required>    
            </div>
            <div class="form-group">
                <label for="isbn" class="bold-text">ISBN:</label>
                <input type="text" id="isbn" name="isbn">
            </div>
            <div class="form-group">
                <label for="rating" class="bold-text">Rating:</label>
                <input type="number" id="rating" name="rating" required>
            </div>
            <div class="form-group">
                <label for="text" class="bold-text">Review:</label>
                <textarea id="text" name="text" required></textarea>
            </div>
            <div class="form-group">
                <label for="read_date" class="bold-text">Read Date:</label>
                <input type="date" id="read_date" name="read_date" required>
            </div>
            <button type="submit" class="bold-text">Add Review</button>
        </form>
    </section>
</main>

<%- include("partials/footer.ejs") %>